<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="oldVersionsToKeep" value="20"/>
    <add key="extractXml" value="true"/>
  </appSettings>
  <connectionStrings>
    
    <add name="Dynamics" connectionString="AuthType=AD;Url=http://win-gj5bp84sf70/Deployment9;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
